body {
    background-image: linear-gradient(to right, #ee8c8c, #30025c);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 570px;
    margin: 0px auto;
    padding-top: 15px;
}
form{
    display: flex;
}
input, button{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
input{
    margin: 0px;
    flex: 1;
    box-sizing: border-box;
    padding: 12px;
}

button{
    margin: 0;
    padding: 5px;
    width: 50px;
    height: 50px;
}
p{
    text-align: center;
    font-weight: bold;
}